<!DOCTYPE html>
<html lang="en">
<head>
<title>Nengo Editor</title>
<link rel="stylesheet" href="static/css/d3.slider.css">
<script src="{{ static_url('js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/stream.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/d3.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/d3.slider.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/gen_chart.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/gen_slider.js') }}" type="text/javascript"></script>

<style type="text/css" media="screen">
    #simulation {
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px;
    }
    svg {
      font: 10px sans-serif;
    }
     
    .line {
      fill: none;
      stroke: #000;
      stroke-width: 1.5px;
    }
     
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    #slider8 {
      height: 250px;
    }

</style>
</head>
<body>


<div id="simulation">
    <div id="time">
    </div>
</div>
<H1>Multiplication Test</H1>
<div id="input1"></div>
<p>
<div id="input2"></div>
<div id="visualisation"></div>

<script>
var message_count = 0;
var responseJson;
var modelJson;
var nameLog;
var form_data = new FormData(); //I have no idea what this is used for
var inputNodes = {};

var probeDispatch = d3.dispatch("probeLoad");

// Generate the visual outputs you want here
genChart("#visualisation", ["prod_probe"], "foo", probeDispatch);
genChart("#visualisation", ["inputA_probe"], "bar", probeDispatch);
// genChart("#visualisation", ["pr_e"], "bar", probeDispatch);

var ws = new WebSocket("ws://localhost:8082/simulate?Id=1234534449");

// using an HTTP request get the layout and other info from the model
console.log("getting the JSON of the model");
var xhr = new XMLHttpRequest();
xhr.open('POST', '/graph.json', true);
xhr.onload = update_graph; // this is an asynchronous callback
xhr.send(form_data); // Why can't I send an empty request?
console.log("hurray!");

function update_graph(){
    console.log("receiving JSON");
    responseJson = JSON.parse(this.responseText);
    // this is going to be used later...
    modelJson = responseJson[0];
    nameLog = responseJson[1];
    console.log(JSON.parse(this.responseText));
    console.log("done receiving JSON");
    // extract all the input nodes
    modelJson.nodes.forEach(function(nde){
        console.log("node");
        if(nde['is_input'] === true){
            inputNodes[nde['label']] = nde;
        }
    });
    // Generate your inputs here
    genSlider("#input1", inputNodes["inputA"]['id'], "inputA");
    genSlider("#input2", inputNodes["inputB"]['id'], "inputB");
}
// start streaming from the established websocket
stream(ws);
</script>

</body>
</html>