<!DOCTYPE html>
<html lang="en">
<head>
<title>Nengo Editor</title>
<link rel="stylesheet" href="static/css/d3.slider.css">
<script src="{{ static_url('js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/stream.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/d3.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/d3.slider.js') }}" type="text/javascript"></script>

<style type="text/css" media="screen">
    #simulation {
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px;
    }
    svg {
      font: 10px sans-serif;
    }
     
    .line {
      fill: none;
      stroke: #000;
      stroke-width: 1.5px;
    }
     
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    #slider8 {
      height: 250px;
    }

</style>
</head>
<body>

<H1>Slider Test</H1>
<div id="simulation">
    <div id="time">
    </div>
    <pre id="probes">
    </pre>
</div>
<svg id="visualisation" width="1000" height="500"></svg>

<script>
var myData = d3.range(n); // this is an odd initialization
var responseJson;
var modelJson;
var nameLog;
var form_data = new FormData(); //I have no idea what this is used for

genChart("#visualisation", ["pr_s"],"baz");

console.log("getting the JSON of the model");
var xhr = new XMLHttpRequest();
xhr.open('POST', '/graph.json', true);
xhr.onload = update_graph; // this is an asynchronous callback
xhr.send(form_data); // Why can't I send an empty request?
console.log("hurray!`");

function update_graph(){
    responseJson = JSON.parse(this.responseText);
    modelJson = responseJson[0]
    nameLog = responseJson[1]
    console.log(JSON.parse(this.responseText));
}


var ws = new WebSocket("ws://localhost:8080/simulate?Id=1234534449");
d3.select('#time').call(d3.slider("Shoop", ws).value(50).orientation("vertical"));
stream(ws);
</script>

</body>
</html>